[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
fs_permissions = [{ access = "read-write", path = "./out"}, { access = "read-write", path = "./release"}, { access = "read", path = "./test" }, { access = "read-write", path = "./deployment" }, { access = "read-write", path = "./operations" },  { access = "read-write", path = "./deployment" }]
gas_reports = ["*"]
optimizer_runs = 1500
extra_output = ["storageLayout"]
bytecode_hash = 'none'
solc-version = '0.8.27'
dynamic_test_linking = true

[fuzz]
max_shrink_iters = 100

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"
goerli = "${GOERLI_RPC_URL}"



[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }
goerli =  { key = "${ETHERSCAN_API_KEY}" }
